
.titulo {
    font-size:medium;
    text-align: center;
}

.navbar-container {
    padding-left: 0;
    padding-right: 0;
  }


body {
    background-color: #f8f9fa; /* Color de fondo */
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0;
    padding: 0;
}

header {
    background-color: #88b6a3; /* Color de fondo del encabezado */
    color: #fc0000; /* Color del texto del encabezado */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0; /* Eliminar margen inferior para centrar correctamente */
}

.container {
    margin-top: 30px;
}

.jumbotron {
    background-color: #bdba9e; /* Color de fondo del jumbotron */
    border: 1px solid #dee2e6; /* Borde del jumbotron */
}

.jumbotron h1 {
    color: #007bff; /* Color del título */
    font-size: 36px; /* Tamaño del título */
}

.jumbotron p {
    font-size: 18px; /* Tamaño del texto */
}

footer {
    background-color: #88b6a3; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Ancho completo */
    bottom: 0; /* Pegado al fondo */
    text-align: center;
}

.logo {
    width: 8%; /* Ancho máximo del 100% del contenedor */
    height: 100; /* Altura automática proporcional al ancho */
    max-height: 850pxx; /* Altura máxima de la imagen */
    margin: 8PX;
}

.card-custom {
    background-color: #bdba9e; /* Color de fondo del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.colormenu {
    background-color: #88b6a3 !important;
}

.info-box {
    background-color: #f8f9fa; /* Color de fondo del cuadro */
    color: #212529; /* Color del texto negro */
    padding: 20px; /* Espacio interior */
    border: 2px solid #007bff; /* Borde sólido azul */
    border-radius: 10px; /* Borde redondeado */
}

.footer2 {
    background-color: #878286; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 20px 0;
    text-align: center;
     width: 100%; /* Ancho completo */
    bottom: 0; /* Pegado al fondo */
}